# Series

In [2]:
import pandas as pd

## Creating a Series Object from a List

In [5]:
ice_cream = ["Chocolate" , "Vanilla", "Strawberry" ] 
pd.Series(ice_cream)

0     Chocolate
1       Vanilla
2    Strawberry
dtype: object

In [9]:
lottery_numbers = [4 , 8, 7, 34, 67]
pd.Series(lottery_numbers)

0     4
1     8
2     7
3    34
4    67
dtype: int64

In [10]:
registrations = [True, False, True, True , False]
pd.Series(registrations)

0     True
1    False
2     True
3     True
4    False
dtype: bool

## Create a Series Object from a Dictionary

In [12]:
sushi = {
    "Salmon" : "Orange" ,
    "Tuna" : "Red" ,
    "Eel" : "Brown" ,
}

pd.Series(sushi)

Salmon    Orange
Tuna         Red
Eel        Brown
dtype: object

## Intro to Series Methods

In [4]:
prices = pd.Series([2.99, 4.45, 1.36])
prices

0    2.99
1    4.45
2    1.36
dtype: float64

In [5]:
prices.sum()

8.8

In [6]:
prices.product()

18.095480000000006

In [8]:
prices.mean()

2.9333333333333336

## Intro to Attributes

In [11]:
 adjectives = pd.Series( ["Smart", "Handsome", "Charming" , "Brilliant", "Humble", "Smart"])
adjectives

0        Smart
1     Handsome
2     Charming
3    Brilliant
4       Humble
5        Smart
dtype: object

In [12]:
adjectives.size

6

In [13]:
adjectives.is_unique

False

In [14]:
adjectives.values

array(['Smart', 'Handsome', 'Charming', 'Brilliant', 'Humble', 'Smart'],
      dtype=object)

In [15]:
adjectives.index

RangeIndex(start=0, stop=6, step=1)

In [18]:
type(adjectives.values)

numpy.ndarray

## Parameters and Arguments

In [32]:
fruits = [ "Apple", "Plum", "Grape", "Blueberry", "Watermelon"]
weekdays = [ "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Monday"]

In [29]:
pd.Series(fruits)
pd.Series(weekdays)

0       Monday
1      Tuesday
2    Wednesday
3     Thursday
4       Friday
5       Monday
dtype: object

In [34]:
pd.Series(data= fruits)

0         Apple
1          Plum
2         Grape
3     Blueberry
4    Watermelon
dtype: object

## Import Series with the pd.read_csv Function

In [6]:
   pokemon = pd.read_csv("pokemon.csv" , usecols = ["Name"]).squeeze("columns") 
   pokemon

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [11]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns") 
google

0         2.490664
1         2.515820
2         2.758411
3         2.770615
4         2.614201
           ...
4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, Length: 4793, dtype: float64

## The head and tail Methods

In [ ]:
 pokemon = pd.read_csv("pokemon.csv" , usecols = ["Name"]).squeeze("columns") 
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [43]:
pokemon.head()
pokemon.head()
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [16]:
google.tail()
google.tail(5)

4788    132.080002
4789    132.998001
4790    135.570007
4791    137.050003
4792    138.429993
Name: Price, dtype: float64

## Passing Series to Python's Built-In Functions

In [3]:
 pokemon = pd.read_csv("pokemon.csv" , usecols = ["Name"]).squeeze("columns") 
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")

In [4]:
 pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [16]:
len(pokemon)
type(pokemon)
list(pokemon)
sorted(pokemon)
type(sorted(pokemon))
dict(pokemon)

max(google)
min(google)

max(pokemon)
min(pokemon)

'Abomasnow'

## Check for Inclusion with Python's in Keyword

In [18]:
pokemon = pd.read_csv("pokemon.csv" , usecols = ["Name"]).squeeze("columns") 
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns") 

pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [27]:
"car" in "racecar"
2 in [3 , 2, 1]

pokemon.index

RangeIndex(start=0, stop=1010, step=1)

## The sort_values Method

In [29]:
pokemon = pd.read_csv("pokemon.csv" , usecols = ["Name"]).squeeze("columns") 
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns") 

google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [34]:
google.sort_values()
google.sort_values(ascending=True)
google.sort_values(ascending=False)
google.sort_values(ascending=False).head()

4395    151.863495
4345    151.000000
4346    150.141754
4341    150.000000
4336    150.000000
Name: Price, dtype: float64

In [42]:
pokemon.sort_values()
pokemon.sort_values(ascending=True)
pokemon.sort_values(ascending=False)
pokemon.sort_values(ascending=False).tail()

680    Aegislash
616     Accelgor
358        Absol
62          Abra
459    Abomasnow
Name: Name, dtype: object

## The sort_index Method

In [46]:
pokemon = pd.read_csv("pokemon.csv",index_col="Name").squeeze("columns") 
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [50]:
pokemon.sort_index()
pokemon.sort_index(ascending=True)
pokemon.sort_index(ascending=False)

Name
Zygarde      Dragon, Ground
Zweilous       Dark, Dragon
Zubat        Poison, Flying
Zorua                  Dark
Zoroark                Dark
                  ...
Aegislash      Steel, Ghost
Accelgor                Bug
Absol                  Dark
Abra                Psychic
Abomasnow        Grass, Ice
Name: Type, Length: 1010, dtype: object

## Extract Series Value by Index Position

In [54]:
pokemon = pd.read_csv("pokemon.csv", usecols= ["Name"]).squeeze("columns") 
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [61]:
pokemon.iloc[500]
pokemon.iloc[0]

#pokemon.iloc[1500]

pokemon.iloc[[100, 200, 300]]

#pokemon.iloc[[100, 200, 1500]]

pokemon.iloc[27:36]
pokemon.iloc[0:7]

# using a negative means it will start ate the end or finish in the end

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
5     Charizard
6      Squirtle
Name: Name, dtype: object

## Extract Series Value by Index Label

In [3]:
pokemon = pd.read_csv("pokemon.csv", index_col= ["Name"]).squeeze("columns") 
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [4]:
pokemon.loc["Bulbasaur"]

'Grass, Poison'

In [5]:
pokemon.iloc[0]

'Grass, Poison'

In [8]:
pokemon.loc["Mewtwo"]
pokemon.loc[["Charizard", "Jolteon", "Meowth"]]

Name
Charizard    Fire, Flying
Jolteon          Electric
Meowth             Normal
Name: Type, dtype: object

## The get Method on a Series

In [9]:
pokemon = pd.read_csv("pokemon.csv", index_col= ["Name"]).squeeze("columns") 
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [16]:
pokemon.get("Moltres")
pokemon.loc["Moltres"] 

pokemon.get("Digimon , Nonexitent" )

## Overwrite a Series Value

In [17]:
pokemon = pd.read_csv("pokemon.csv", usecols= ["Name"]).squeeze("columns") 
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [19]:
pokemon.iloc[0] = "Borisaur"

In [20]:
pokemon.head()

0      Borisaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [23]:
pokemon.iloc[[1,2,4]] = ["Firemon" , "Flamemon" , "Blazemon"]
pokemon.head()

0      Borisaur
1       Firemon
2      Flamemon
3    Charmander
4      Blazemon
Name: Name, dtype: object

In [24]:
pokemon = pd.read_csv("pokemon.csv", index_col= ["Name"]).squeeze("columns") 
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [26]:
pokemon.loc["Bulbasaur"] = "Awesomeness"
pokemon.head()

Name
Bulbasaur       Awesomeness
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [27]:
pokemon.iloc[1] = "Silly"

In [32]:
pokemon.head()

Name
Bulbasaur          Something else
Ivysaur       Something different
Venusaur            Grass, Poison
Charmander                   Fire
Charmeleon                   Fire
Name: Type, dtype: object

## The copy Method

In [45]:
pokemon_df = pd.read_csv("pokemon.csv", usecols=["Name"])
pokemon_series = pokemon_df.squeeze("columns").copy()
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [37]:
pokemon_series

0          Bulbasaur
1            Ivysaur
2           Venusaur
3         Charmander
4         Charmeleon
            ...
1005    Iron Valiant
1006        Koraidon
1007        Miraidon
1008    Walking Wake
1009     Iron Leaves
Name: Name, Length: 1010, dtype: object

In [47]:
pokemon_series[0] = "whatever"
pokemon_df

              Name
0        Bulbasaur
1          Ivysaur
2         Venusaur
3       Charmander
4       Charmeleon
...            ...
1005  Iron Valiant
1006      Koraidon
1007      Miraidon
1008  Walking Wake
1009   Iron Leaves

[1010 rows x 1 columns]

In [48]:
pokemon_series.head()

0      whatever
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

## Math Methods on Series Objects

In [4]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [15]:
google.count()
google.sum()
google.product()
google.mean()
google.std()
google.max()
google.median()
google.mode()
google.describe()

count    4793.000000
mean       40.211377
std        37.274753
min         2.470490
25%        12.767395
50%        26.327717
75%        56.311001
max       151.863495
Name: Price, dtype: float64

## Broadcasting

In [16]:
google = pd.read_csv("google_stock_price.csv", usecols=["Price"]).squeeze("columns")
google.head()

0    2.490664
1    2.515820
2    2.758411
3    2.770615
4    2.614201
Name: Price, dtype: float64

In [20]:
google.add(10)
google.sub(30)
google.mul(1.25)
google.div(20)

0       0.124533
1       0.125791
2       0.137921
3       0.138531
4       0.130710
          ...
4788    6.604000
4789    6.649900
4790    6.778500
4791    6.852500
4792    6.921500
Name: Price, Length: 4793, dtype: float64

## The value_counts Method

In [21]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon.head()

Name
Bulbasaur     Grass, Poison
Ivysaur       Grass, Poison
Venusaur      Grass, Poison
Charmander             Fire
Charmeleon             Fire
Name: Type, dtype: object

In [28]:
pokemon.value_counts()
pokemon.value_counts(ascending = True) 
pokemon.value_counts(normalize = True)
pokemon.value_counts(normalize = True) * 100

Type
Water               7.326733
Normal              7.326733
Grass               4.554455
Psychic             3.861386
Fire                3.564356
                      ...
Fighting, Ice       0.099010
Fire, Dragon        0.099010
Normal, Dragon      0.099010
Psychic, Steel      0.099010
Fighting, Dragon    0.099010
Name: proportion, Length: 200, dtype: float64

## The apply Method

In [30]:
pokemon = pd.read_csv("pokemon.csv", usecols = ["Name"]).squeeze("columns")
pokemon.head()

0     Bulbasaur
1       Ivysaur
2      Venusaur
3    Charmander
4    Charmeleon
Name: Name, dtype: object

In [32]:
pokemon.apply(len)

0        9
1        7
2        8
3       10
4       10
        ..
1005    12
1006     8
1007     8
1008    12
1009    11
Name: Name, Length: 1010, dtype: int64

In [34]:
def count_of_a(pokemon) :
    return pokemon.count("a")

pokemon.apply(count_of_a)

0       2
1       1
2       1
3       2
4       1
       ..
1005    2
1006    1
1007    1
1008    2
1009    1
Name: Name, Length: 1010, dtype: int64

## The map Method

In [38]:
pokemon = pd.read_csv("pokemon.csv", index_col="Name").squeeze("columns")
pokemon

Name
Bulbasaur          Grass, Poison
Ivysaur            Grass, Poison
Venusaur           Grass, Poison
Charmander                  Fire
Charmeleon                  Fire
                      ...
Iron Valiant     Fairy, Fighting
Koraidon        Fighting, Dragon
Miraidon        Electric, Dragon
Walking Wake       Water, Dragon
Iron Leaves       Grass, Psychic
Name: Type, Length: 1010, dtype: object

In [41]:
attack_powers = {
    "Grass": 10,
    "Fire" : 15,
    "Water" : 15,
    "Fairy, Fighting" : 20,
    "Grass, Psychic" :50
}

In [42]:
pokemon.map(attack_powers)

Name
Bulbasaur        NaN
Ivysaur          NaN
Venusaur         NaN
Charmander      15.0
Charmeleon      15.0
                ...
Iron Valiant    20.0
Koraidon         NaN
Miraidon         NaN
Walking Wake     NaN
Iron Leaves     50.0
Name: Type, Length: 1010, dtype: float64