# Working with Dates and Times

In [40]:
import pandas as pd
import datetime as dt

## Review of Python's datetime Module

In [4]:
someday =dt.date(2025, 12, 15)

In [5]:
someday.year

2025

In [6]:
dt.datetime(2025,12,15)

datetime.datetime(2025, 12, 15, 0, 0)

## The Timestamp and DatetimeIndex Objects

In [17]:
pd.Timestamp(2027, 3, 12)
pd.Timestamp(2027, 3, 12, 18, 23, 49)
pd.Timestamp(dt.datetime(2028, 10,23))
pd.Timestamp("2025-01-01")
pd.Timestamp("2025/01/01")
pd.Timestamp("2021-03-08 08:35:15")

pd.Series([pd.Timestamp("2021-03-08 08:35:15")]).iloc[0] 

pd.DatetimeIndex(["2025-01-01", "2025-02-01", "2025-03-01"])
index= pd.DatetimeIndex([
    dt.date(2026, 1, 10),
    dt.date(2026, 2,20)
])
index[0]
type(index[0])

pandas._libs.tslibs.timestamps.Timestamp

## Create Range of Dates with pd.date_range Function

In [29]:
pd.date_range(start= "2025-01-01", end= "2025-01-07")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="D")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="2D")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="B") #business days - Monday- Friday
pd.date_range(start="2025-01-01", end="2025-01-07", freq="W")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="W-FRI")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="W-THU")

pd.date_range(start="2025-01-01", end="2025-01-07", freq="H")
pd.date_range(start="2025-01-01", end="2025-01-07", freq="6H")

pd.date_range(start="2025-01-01", end="2025-12-07", freq="M")
pd.date_range(start="2025-01-01", end="2025-12-07", freq="MS")

pd.date_range(start="2025-01-01", end="2050-12-07", freq="A")

DatetimeIndex(['2025-12-31', '2026-12-31', '2027-12-31', '2028-12-31',
               '2029-12-31', '2030-12-31', '2031-12-31', '2032-12-31',
               '2033-12-31', '2034-12-31', '2035-12-31', '2036-12-31',
               '2037-12-31', '2038-12-31', '2039-12-31', '2040-12-31',
               '2041-12-31', '2042-12-31', '2043-12-31', '2044-12-31',
               '2045-12-31', '2046-12-31', '2047-12-31', '2048-12-31',
               '2049-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [30]:
pd.date_range(end="2013-10-31", freq="D", periods= 20)

DatetimeIndex(['2013-10-12', '2013-10-13', '2013-10-14', '2013-10-15',
               '2013-10-16', '2013-10-17', '2013-10-18', '2013-10-19',
               '2013-10-20', '2013-10-21', '2013-10-22', '2013-10-23',
               '2013-10-24', '2013-10-25', '2013-10-26', '2013-10-27',
               '2013-10-28', '2013-10-29', '2013-10-30', '2013-10-31'],
              dtype='datetime64[ns]', freq='D')

## The dt Attribute

In [32]:
bunch_of_dates =pd.Series(pd.date_range(start="2000-01-01", end= "2020-12-31", freq="24D 3H"))
bunch_of_dates.head()

0   2000-01-01 00:00:00
1   2000-01-25 03:00:00
2   2000-02-18 06:00:00
3   2000-03-13 09:00:00
4   2000-04-06 12:00:00
dtype: datetime64[ns]

In [38]:
bunch_of_dates.dt.day
bunch_of_dates.dt.month
bunch_of_dates.dt.year
bunch_of_dates.dt.hour

bunch_of_dates.dt.is_month_end
bunch_of_dates.dt.is_month_start

0       True
1      False
2      False
3      False
4      False
       ...
313    False
314    False
315    False
316    False
317    False
Length: 318, dtype: bool

## Selecting Rows from a DataFrame with a DateTimeIndex

In [49]:
stocks= pd.read_csv("ibm.csv",parse_dates=["Date"], index_col="Date").sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [54]:
stocks.iloc[300]
stocks.loc["2014-03-04"]
stocks.loc[pd.Timestamp(2014,3,4)]
stocks.loc["2014-03-04": "2024-12-31"]
stocks.truncate("2014-03-04","2014-12-31")

               Open     High      Low    Close        Volume
Date
2014-03-04  128.870  129.827  128.802  129.329  6.825202e+06
2014-03-05  129.407  130.344  129.319  129.807  5.027617e+06
2014-03-06  129.963  130.676  129.631  130.159  5.503611e+06
2014-03-07  130.676  131.047  129.837  130.198  5.936539e+06
2014-03-10  130.090  130.666  128.890  129.309  6.623102e+06
...             ...      ...      ...      ...           ...
2014-12-24  115.119  115.188  114.183  114.359  2.646416e+06
2014-12-26  114.651  115.257  114.495  114.700  2.706324e+06
2014-12-29  114.485  114.700  112.661  113.412  4.715249e+06
2014-12-30  113.090  113.656  112.934  113.109  4.004903e+06
2014-12-31  113.324  114.105  113.304  113.354  5.677519e+06

[211 rows x 5 columns]

## The DateOffset Object

In [55]:
stocks= pd.read_csv("ibm.csv",parse_dates=["Date"], index_col="Date").sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [63]:
stocks.index + pd.DateOffset(days=5)
stocks.index - pd.DateOffset(days=5)
stocks.index + pd.DateOffset(months=3)
stocks.index - pd.DateOffset(years= 1)

stocks.index + pd.DateOffset(hours=7)

DatetimeIndex(['1962-01-02 07:00:00', '1962-01-03 07:00:00',
               '1962-01-04 07:00:00', '1962-01-05 07:00:00',
               '1962-01-08 07:00:00', '1962-01-09 07:00:00',
               '1962-01-10 07:00:00', '1962-01-11 07:00:00',
               '1962-01-12 07:00:00', '1962-01-15 07:00:00',
               ...
               '2023-09-28 07:00:00', '2023-09-29 07:00:00',
               '2023-10-02 07:00:00', '2023-10-03 07:00:00',
               '2023-10-04 07:00:00', '2023-10-05 07:00:00',
               '2023-10-06 07:00:00', '2023-10-09 07:00:00',
               '2023-10-10 07:00:00', '2023-10-11 07:00:00'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

In [68]:
birthdays= pd.date_range(start="1991-04-12",end= "2023-04-12",freq=pd.DateOffset(years=1))

stocks[stocks.index.isin(birthdays)]

                 Open       High        Low      Close        Volume
Date
1991-04-12   18.16780   18.16780   17.69540   17.75200  2.164536e+07
1993-04-12    8.30500    8.48788    8.28665    8.34598  8.518730e+06
1994-04-12    8.79793    8.81911    8.59455    8.65281  1.149508e+07
1995-04-12   14.16070   14.34310   14.09330   14.25620  1.158640e+07
1996-04-12   18.86360   18.92410   18.02330   18.25170  4.724783e+07
1999-04-12   60.07580   60.10990   59.27160   60.05430  1.366693e+07
2000-04-12   78.30890   78.30890   73.13650   74.49310  1.352295e+07
2001-04-12   63.33930   64.06240   62.51650   63.20750  1.429048e+07
2002-04-12   57.53060   57.79410   55.45480   56.24140  2.405615e+07
2004-04-12   61.43420   61.99840   61.36590   61.59330  4.736957e+06
2005-04-12   56.44050   56.66400   55.95930   56.34190  1.286059e+07
2006-04-12   53.28730   53.46300   52.97880   53.05790  5.943571e+06
2007-04-12   62.43660   62.95670   62.10960   62.86010  1.078356e+07
2010-04-12   84.48650   84.73830   84.26890   84.34410  6.076087e+06
2011-04-12  107.36100  107.59500  106.65800  107.28300  5.876340e+06
2012-04-12  135.49600  137.33200  135.37000  137.18500  4.384856e+06
2013-04-12  143.23600  143.71500  142.54300  143.64600  4.658051e+06
2016-04-12  110.27900  110.65000  109.53700  110.28900  4.874036e+06
2017-04-12  130.58800  130.71500  129.80700  130.29600  4.292101e+06
2018-04-12  124.55700  126.31400  124.48900  125.58200  7.097073e+06
2019-04-12  120.04800  120.18500  119.57000  120.10700  3.484076e+06
2021-04-12  124.11800  124.43900  123.03400  123.71800  4.083806e+06
2022-04-12  121.89300  122.78100  121.09200  121.47300  2.790840e+06
2023-04-12  130.40000  130.88570  128.17000  128.54000  3.957542e+06

## Specialized Date Offsets

In [69]:
stocks= pd.read_csv("ibm.csv",parse_dates=["Date"], index_col="Date").sort_index()
stocks.head()

               Open     High      Low    Close         Volume
Date
1962-01-02  5.04610  5.04610  4.98716  4.98716  593562.955237
1962-01-03  4.98716  5.03292  4.98716  5.03292  445175.034277
1962-01-04  5.03292  5.03292  4.98052  4.98052  399513.586679
1962-01-05  4.97389  4.97389  4.87511  4.88166  559321.480565
1962-01-08  4.88166  4.88166  4.75059  4.78972  833273.771393

In [71]:
stocks.index + pd.tseries.offsets.MonthEnd()

DatetimeIndex(['1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31', '1962-01-31', '1962-01-31',
               '1962-01-31', '1962-01-31',
               ...
               '2023-09-30', '2023-09-30', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31', '2023-10-31', '2023-10-31',
               '2023-10-31', '2023-10-31'],
              dtype='datetime64[ns]', name='Date', length=15546, freq=None)

## Timedeltas

In [72]:
pd.Timestamp("2023-03-31 12:30:48") - pd.Timestamp("2023-03-20 19:25:59")

Timedelta('10 days 17:04:49')

In [76]:
ecommerce = pd.read_csv("ecommerce.csv",index_col="ID", parse_dates=["order_date", "delivery_date"], date_format="%m/%d/%y")
ecommerce.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [80]:
ecommerce["Delivery Time"] = ecommerce["delivery_date"] - ecommerce["order_date"]
ecommerce.head()

   order_date delivery_date Delivery Time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [84]:
ecommerce["If It Took"] = ecommerce["delivery_date"] + ecommerce["Delivery Time"]
ecommerce.head()

   order_date delivery_date Delivery Time If It Took
ID
1  1998-05-24    1999-02-05      257 days 1999-10-20
2  1992-04-22    1998-03-06     2144 days 2004-01-18
4  1991-02-10    1992-08-26      563 days 1994-03-12
5  1992-07-21    1997-11-20     1948 days 2003-03-22
7  1993-09-02    1998-06-10     1742 days 2003-03-18